MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=<appName>
PORT=5678

ACCESS_SECRET=your_access_secret_here
REFRESH_SECRET=your_refresh_secret_here

CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
